.user-photo {
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
}

.user-photo__image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-photo__initials {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-body-color);
  font-size: 0.75rem;
  border-radius: 50%;
}